/*
  Insert on Header & Footer Style
 */

.iohf-code-editor {
	position: relative;
	width: 700px;
	height: 400px;
}

.iohf-code-editor .ace_editor {
	height: 335px;
}

.iohf-code-editor .ace_info {
    background-image: none !important;
}

.iohf-helpinfo {
	margin: 5px 0 20px;
	font-size: 12px;
	font-weight: bold;
}
